apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: valkey

resources:
  - namespace.yaml
  - configmap.yaml
  - statefulset.yaml
  - service.yaml

labels:
  - pairs:
      app.kubernetes.io/name: valkey
      app.kubernetes.io/component: database
      app.kubernetes.io/part-of: kailas-cloud
